# Environment variables
*.env

# MacOS
.DS_Store

# Node
node_modules

# Foundry
packages/contracts/cache/
packages/contracts/out/
packages/contracts/broadcast/

# IntelliJ config
.idea/
*.iml

# React outputs
packages/react/www/app.js
packages/react/www/app.css

# Webapp outputs
## Wagmi
packages/webapp/src/generated.ts
## Vite
packages/webapp/dist/
## Typescript
tsconfig.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
